@import '../../variables';

.btn {
  &.primary,
  &.accent,
  &.info,
  &.success,
  &.error {
    color: $white;
  }
  &.warning {
    color: $black;
  }

  @each $name, $color in $colors {
    @if $name != 'black' and $name != 'white' and $name != 'gray' and $name != 'light' {
      &.#{$name} {
        background: $color;
        border-color: $color;
      }
    }
  }
}
