@import '../../variables';

.btn {
  &.primary,
  &.info,
  &.success,
  &.error,
  &.warning,
  &.black {
    color: $white;
  }
  &.gray,
  &.light,
  &.white {
    color: $black;
  }

  @each $name, $color in $colors {
    &.#{$name} {
      background: $color;
      border-color: $color;
    }
  }
}
