.tc {
    text-align: center;
}
.tr {
    text-align: right;
}
.tl {
    text-align: left;
}
.mega{
	font-size: 3.5em;
}
.huge{
	font-size: 2.25em;
}
.large{
	font-size: 1.5em;
}
.small{
	font-size: .7em;
}
.caps {
	text-transform: uppercase;
}
.tracked {
	letter-spacing: .1em;
}
.bold {
	font-weight: 700;
}
.normal {
	font-weight: 400;
}
.light{
	font-weight: 300;
}