$font: sans-serif !default; // Recommended: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$primary: #a0c !default;
$accent: #f73 !default;
$light: #eee !default;
$white: #fff !default;
$gray: #ccc !default;
$black: #000 !default;
$info: #09d !default;
$success: #084 !default; 
$warning: #fc5 !default;
$error: #c33 !default;

$colors: (
  'white': $white,
  'gray': $gray,
  'black': $black,
  'primary': $primary,
  'accent': $accent,
  'info': $info,
  'success': $success,
  'warning': $warning,
  'error': $error,
);

$breakpoint: 35em;