$font: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$primary: #a402c0 !default;
$light: #eee !default;
$white: #fff !default;
$gray: #ccc !default;
$black: #000 !default;
$info: #008dcb !default;
$success: #258039 !default;
$warning: #f5be41 !default;
$error: #cf3721 !default;

$breakpoint: 35em;