@import 'variables';

/*Colors*/
$colors: (
  'white': $white,
  'gray': $gray,
  'black': $black,
  'primary': $primary,
  'info': $info,
  'success': $success,
  'warning': $warning,
  'error': $error,
);

.btn.primary,
.btn.info,
.btn.success,
.btn.error,
.btn.warning,
.btn.black {
	color: $white;
}
.btn.gray,
.btn.light,
.btn.white {
	color: $black;
}

@each $name, $color in $colors {
  .c-#{$name} {
    color: $color;
  }
  .btn.#{$name},
  .bg-#{$name} {
    background-color: $color;
  }
  .btn.#{$name},
  .b-#{$name} {
    border-color: $color;
  }
}

/*Margin+Padding*/

@for $i from 0 through 4 {
  $amount: ($i - floor($i * 0.5em));
  @if $i == 1 {$amount: 0.5em}
  @if $i == 4 {$amount: 4em}
  .m#{$i} {
    margin: $amount;
  }
  .mt#{$i} {
    margin-top: $amount;
  }
  .mb#{$i} {
    margin-bottom: $amount;
  }
  .ml#{$i} {
    margin-left: $amount;
  }
  .mr#{$i} {
    margin-right: $amount;
  }
  .p#{$i} {
    padding: $amount;
  }
  .pv#{$i} {
    padding-top: $amount;
    padding-bottom: $amount;
  }
  .ph#{$i} {
    padding-left: $amount;
    padding-right: $amount;
  }
}

/*Text Utilities*/
.tc {
    text-align: center;
}
.tr {
    text-align: right;
}
.tl {
    text-align: left;
}
.mega{
	font-size: 3.5em;
}
.huge{
	font-size: 2.25em;
}
.large{
	font-size: 1.5em;
}
.small{
	font-size: .7em;
}
.caps {
	text-transform: uppercase;
}
.tracked {
	letter-spacing: .1em;
}
.bold {
	font-weight: 700;
}
.normal {
	font-weight: 400;
}
.light{
	font-weight: 300;
}

/*Misc Utilities*/
.gapless{
    border-spacing: 0;
}
.vc {
    position: relative;
    top: 40%;
    transform: perspective(1px) translateY(-45%);
}
.vh-100 {
    height: 100vh;
}
.inline {
    display: inline-block;
}
.pill {
  border-radius: 9999px;
}
.rounded {
  border-radius: 4px;
}
.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}
.dim:hover,
.dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}
