@import '../../variables';

.btn {
  padding: 1em;
  letter-spacing: .1em;
  border: solid;
  cursor: pointer;
  font-size: 1em;
}

.btn.primary {
  color: white;
  background: $primary;
  border: solid $primary;
}

.btn:hover {
  opacity: .6;
}