@import '../../variables';

.btn {
  padding: 1em;
  letter-spacing: .1em;
  text-transform: uppercase;
  background: white;
  border: solid;
  cursor:pointer;
}

.btn.primary {
  color: white;
  background: $primary;
  border: solid $primary;
}

.btn:hover {
  opacity: .6;
}